.catalog-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 12px;
	margin-bottom: 29px;

	&__sort {
		display: flex;
		align-items: center;
	}
	&__sort-name {
		color: #121212;
		.regular();
		font-size: @11;
	}

	&__filter {
		display: flex;
		margin-right: -4px;
		margin-left: -4px;
	}
	&__filter-option {
		height: 24px;
		border-radius: 2px;
		background-color: black;
		flex-grow: 2;
		margin-right: 4px;
		margin-left: 4px;
		margin-bottom: 8px;
		padding: 0 9px;

		color: white;
		.regular();
		font-size: @12;
		text-align: center;
		line-height: 23px;
		cursor: pointer;

		&.active {
			box-shadow: inset 0 0 20px rgba(255, 61, 87, 0.75);
			background-color: @red-color;
		}
	}
}