// 1. Text girls
// 2. Text girl

// 1. Text girls
.text-girls {

}

// 2. Text gir;
.text-girl {
	position: relative;
	border-bottom: 1px solid #eeeeee;
	padding: 12px 0;
	text-decoration: none;
	display: block;
	cursor: pointer;
	&:first-child {
		border-top: 1px solid #eeeeee;
	}
	&__name {
		color: #121212;
		.regular();
		font-size: @18;
		margin-bottom: 11px;
	}
	&__flags {
		position: absolute;
		right: 0;
		top: 12px;
		display: flex;;
	}
	&__flag {
		height: 16px;
		border-radius: 2px;
		margin-left: 8px;
		padding: 0 8px;
		background: @dark-color;

		color: white;
		.bold();
		font-size: @8;
		line-height: 16px;
		text-transform: uppercase;

		&_red {
			box-shadow: inset 0 0 20px rgba(255, 61, 87, 0.75);
			background: @red-color;
		}
	}

	&__features {

	}
	&__feature {
		display: inline-block;
		color: #888888;
		.regular();
		font-size: @12;
		line-height: 1.5;
		margin-right: 16px - 4px;
		&:last-child {
			margin-right: -4px;
		}
	}
}